# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore vscode workspace settings
.vscode

# Ignore app build
app/build

# Ignore project build
build

# Ignore env variables
app/src/main/**/*.env

# trash files
temp

# Ignore logs
app/logs