<?xml version="1.0" encoding="UTF-8"?>
<server description="wapp demo">
    <featureManager>
        <feature>webProfile-10.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}" id="defaultHttpEndpoint" host="*" />
    <applicationManager autoExpand="true" />

    <webApplication id="app" contextRoot="/app" location="app.war" />
</server>